body, html {
    margin: 0px auto;
    padding: 0;
    width: 100%;
    display: block;
    font-family: 'Raleway', sans-serif;
}

.clear {
    clear: both;
}

/* Header */
.header {
    clear: both;
    width: 100%;
    height: 450px;
    margin: 0px auto;
    top: 0;
    font-family: 'Inconsolata', ;
    color: white;
    position: relative;
    z-index: -1;
}

#header-picture {
    top: 0;
    width: 100%;
    height: 600px;
    position: fixed;
    z-index: -1;
}

#header-picture img {
    width: 100%;
    height: auto;
}

#header-title {
    background-color: rgba(248, 247, 216, 0.4);
    font-size: 48px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    top: 300px;
}

#header-description {
    background-color: rgba(248, 247, 216, 0.4);
    font-size: 20px;
    text-align: right;
    padding-left: 20px;
    padding-right: 22px;
    padding-bottom: 50px;
    position: relative;
    top: 300px;
}

/* About Me */
.aboutme {
    background-color: rgba(260, 247, 188, 1.0);
    position: absolute;
    font-size: 14px;
    color: gray;
    margin: 0;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

#aboutme-picture {
    padding: 50px;
    height: 300px; 
    width: 300px;
    position: relative;
    float: right;
}

#aboutme-picture img {
    width: 100%;
    height: auto;
}

#aboutme-text {
    width: 40%;
    padding: 50px;
    position: relative;
    float: left;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right 5px;
    padding-left: 5px;
    background-color: white;
    position: relative;
}

#navbar-title {
    font-size: 38px;
    padding-left: 10px;
    margin: 0;
    display: block;
    color: black;
    float: left;
}

#navbar-options {
    font-size: 18px;
    padding-right: 10px;
    margin: 0;
    color: black;
    float: right;
}

.navbar li {
    display: inline;
    padding: 5px;
}

.navbar a {
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.navbar a:link, .navbar link-img:link {
    color: gray;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.link-img:hover {
    opacity: 0.5;
}

.link-img {
    height: 20px;
}
