body {
    margin: 0, auto;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    padding: 3px 0px;
    font-size: 18px;
    width: 100%;
    text-align: right;
}

.navbar li {
    display: inline;
    padding-right: 10px;
    color: gray;
}

.navbar a {
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.navbar a:link {
    color: gray;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

.navbar link-img:hover {
    transform: scale(1.1);
}

.link-img {
    padding-left:2px;
    padding-right:2px;
}

#email-img {
    height: 20px;
}

#github-img {
    height: 20px;
}

#linkedin-img {
    height: 20px;
}

.header {
    height: 450px;
    font-family: 'Inconsolata', ;
    color: white;
}

#header-picture {
    width: 1000px;
    height: 500px;
    position: fixed;
}

#header-picture img {
    width: 100%;
    height: auto;
}

#header-title {
    background-color: rgba(248, 247, 216, 0.4);
    font-size: 48px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    top: 300px;
}

#header-description {
    background-color: rgba(248, 247, 216, 0.4);
    font-size: 20px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    position: relative;
    top: 300px;
}

.aboutme {
    background-color: rgba(260, 247, 188, 1.0);
    position: absolute;
    font-size: 14px;
    color: black;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

#aboutme-picture {
    float: right;
    padding: 50px;
    height: 300px; 
    width: 300px;
}

#aboutme-picture img {
    width: auto;
    height: 100%;
}

#aboutme-text {
    width: 600px;
    padding: 50px;
}
