html {
    min-height: 100%;
    width: 100%;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    position: relative;
}

body {
    margin: 50px 0 60px;
    /*background-color: #F0F8FF;*/
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.type-text {
    font-family: 'Roboto Slab', serif;
    font-size: 52px;
}

.clear {
    clear: both;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

#curr a {
    color: #ff751a;
}

.color-splash {
    color: #ff751a;
}

.subtitle {
	font-size: 12px;
}

/* Page Contents Style Stuff */
.right-body {
    float: right;
    text-align: right;
    padding-right: 160px;
    width: 45%;
}

.left-photo {
    float: left;
    width: 40%;
}

.left-photo img {
    padding-left: 140px;
    height: 480px;
    width: auto;
}

.white-space {
	height: 20px;
}

.enter-button {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-style: double;
    border-color: #ff751a;
    color: #ff751a;
}

.enter-button:hover {
    opacity: 0.4;
}

.content {
    margin: auto;
    width: 960px;
}

.content-header {
    margin: auto;
    width: 80%;
}

.grid {
	margin: 16px;
    width: 260px;
    height: 260px;
    overflow: hidden;
    padding-bottom: 40px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.grid a:hover {
    opacity: 0.5;
}

.grid-image {
	height: 260px;
    overflow: hidden;
    padding-bottom: 5px;
}

.projects-body {
    width: 55%;
    min-height: 100%;
    background-color: rgba(2, 0, 10, 0);
    float: right;
    padding-right: 22%;
}

.projects-body a {
	text-decoration: underline;
}

.projects-body a:hover {
	opacity: 0.5;
}

.wider {
	max-width: 100%;
}

.skinnier {
	width: 100%;
}

/* Projects Navigation Sidebar */
.sidebar {
    margin: auto;
    padding: 0px 0px 0px 48px;
    width: 25%;
    height: 100%;
    float: left;
    background-color: rgba(25, 25, 25, 0);
    list-style: none;
    font-size: 14px;
    position: fixed;
}

.sidebar a:hover{
    color: #ff751a;
}

.sidebar li {
    padding-left: 30px;
    padding-top: 20px;
    text-transform: uppercase;
}

.side-container {
    position: relative;
    height: 100%;
}

#sidetext {
    position: absolute;
    bottom: 140px;
}

#currproject a {
    text-transform: lowercase;
    font-size: 60px;
    font-weight: bold;
}

#currproject a:hover {
    color: black;
}

/* DELETE LATER */
.solid-block {
    background-color: rgba(10, 10, 10, 0.8);
    height: 750px;
    width: 750px;
}

/* Navigation Bar */
.navbar {
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0em;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: rgba(165, 170, 170, 1);
    font-weight: normal;
}

.navbar a:hover {
    color: black;
}

.navbar li {
    display: inline;
    padding: 15px;
    font-weight: bold;
}

/* Footer */
.footer {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: #F0F8FF;*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer li {
    display: inline;
    padding: 5px;
}

.link-img:hover {
    opacity: 0.4;
}

.link-img {
    height: 20px;
}
